.button {
  font-size: 18px;
  color: white;
  background: #2e2e2e;
  border-radius: 0;

  border: none;
  font: inherit;
  background-color: transparent;
  cursor: pointer;
  text-decoration: none;
}

.buttonText {
  padding: 30px 5px;
  margin: 0;
}
