.header {
  position: fixed;
  width: 100%;
  height: 80px;
  background-color: #2e2e2e;
  margin: 0;
  top: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  z-index: 9999;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.75);
}

nav {
  display: flex;
  flex-direction: row;
}

.navContainer {
  display: flex;
  flex-direction: row;
}

html,
body {
  margin: 0;
  padding: 0;
}

.logo h1 {
  padding-left: 10px;
  margin: 13px 30px 0 0;
  font-size: 48px;
  padding: 0;
  color: #fcc75f;
  font-weight: bold;
}

.line {
  position: absolute;
  height: 5px;
  width: 100%;
  position: fixed;
  background-color: #fcc75f;
}

.sub-menu {
  display: none;
  margin: 80px 0 0 0;
  position: absolute;
  background-color: #2e2e2e;
  padding: 0 20px;
  box-shadow: 0px 4px 100px rgba(0, 0, 0, 0.75);
}

.main-item:focus ~ .sub-menu,
.main-item:active ~ .sub-menu,
.sub-menu:hover {
  display: block;
}

.main-item {
  display: none;
  text-decoration: none;
  color: white;
  padding: 30px 0;
}

.arrowDown {
  color: white;
}

@media screen and (max-width: 650px) {
  .main-item {
    display: flex;
  }

  .navContainer {
    display: none;
  }

  .logo h1 {
    font-size: 24px;
    margin: 25px 10px 0 0;
  }

  nav {
    justify-content: space-between;
  }
}
