.background {
    background-image:radial-gradient(ellipse at center, transparent, #1E1E1E), url('../../img/background.jpg');
    background-repeat: no-repeat;
    background-position: top center;
    height: 2300px;
    background-size: 1300px;
    margin-top: 80px;
    background-color: #1e1e1e;
}